fuel==0.2.0
scipy==1.0.1
matplotlib==2.2.2
requests==2.18.4
tqdm
tensorflow_gpu==1.8.0
six==1.11.0
numpy==1.14.2
nltk==3.3
h5py==2.7.1
pandas==0.22.0
Keras==2.0.8
subprocess32==3.5.2
tensorflow==1.8.0
